#container {
  display: flex;
  justify-content: space-around;
}
#letters {
  border: 1px solid darkcyan;
  padding: 10px 40px;
}

img {
  display: block;
  width: 330px;
  margin: 50px auto;
}

p,
span {
  text-align: center;
  display: block;
}

p {
  color: lightslategrey;
}

span {
  color: cadetblue;
}

@media only screen and (max-width: 600px) {
  #container {
    display: none;
  }
  img {
    margin-top: 150px;
  }
}
